/* targets h1 */
h1{ 
    /* colors h1 red  */
    color: red; 
}

/* targets completed class */
.completed{ 
    /* colors it gray */
    color: gray; 
    /* strikes through */
    text-decoration: line-through; 
}